.textForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.textBox {
  width: 100%;
  margin: 0;
  padding: 0;
}

.textBoxInput {
  background-color: cadetblue;
  width: 100%;
  height: 100%;
  border: none;
}

.textSubmit {
  background-color: aqua;
  font-size: 32px;
  text-align: center;
  border: none;
  margin-left: 5px;
}
